/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html {
  background-color: #056d9c;
  font-family: 'PT Sans';
}

body {
  background-color: transparent;
}

header {
  background-color: #fff;
  text-align: center;
  padding: 20px;
  margin-bottom: 25px;
}

.form_field {
  display: block;
  margin-right: 25px;
  padding-bottom: 3px;
  margin-bottom: 15px;
}

.library {
  max-width: 75%;
  margin: auto;
  padding: 15px;
  border-radius: 20px;
  background-color: #fff;
}

 .form-header {
  margin-top: 50px;
  margin-bottom: 25px;
  font-family: "Vollkorn";
  color: #41337A;
}

th {
  font-size: 16px;
}

td, th{
  padding-left: 25px;
  padding-right: 25px;
}

.library, form, .form-header {
  border-radius: 10px;
  box-shadow: 9px 9px 5px 0px rgba(50, 50, 50, 0.85);
}

form, .form-header {
  max-width: 50%;
  margin: auto;
  padding: 15px;
  background-color: rgba(255,255,255,0.8);
}
