<div class="library">
  <table>
    <thead>
      <th>
       Title
      </th>
      <th>
        My Rating
      </th>
    </thead>
  <% @board_games.each do |game| %>
      <td>
      <%= link_to "#{game.title}", board_game_path(game.id)  %>
      </td>
      <td>
      <%= game.my_rating %>
      </td>
    </tr>
    <% end  %>
  <//table>
</div>
