<h2 class="library-header"><%= @board_game.title %></h2>

<div class="library">
<h4>Created by: <%= @board_game.creator %></h4>
<p>
  Ranked:  <%= @board_game.bgg_score %>
</p>

<p>
  <%= @board_game.description %>
</p>
</div>
